node_modules/
dist/
.env
__pycache__/
*.pyc
*.egg-info/
.vite/
build/
venv/
*.pyo
.eggs/
*.db
*.sqlite3
.DS_Store
*.pdf
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.bbl
report/*.blg
report/*.fls
report/*.fdb_latexmk
